* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Verdana, sans-serif;
}

body {
    background-color: #f1f1f1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
}

.texto-titulo {
    color: #5f9030;
}

nav a {
    background-color: #5f9030;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 10px;
    border: 1px solid #5f9030;
}

nav a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.main-index {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.esquerda {
    margin-right: 20px;
    width: 60%;
}

.direita {
    margin-left: 20px;
    width: 40%;
}

/* Parte Esquerda */

article {
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgb(232, 232, 232); /* insere uma sombra no elemento */
}

.texto-article {
    padding: 20px;
}

.img-esquerda,
.img-direita {
    width: 100%;
}

.titulo-secundario {
    font-size: 17px;
    margin: 5px 0px;
}

.descricao {
    margin-top: 10px;
    line-height: 25px;
}

.ler-mais {
    display: inline-block; /* permite aplicar margem ao elemento */
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
}

/* Parte Direita */
.img-minitura {
    width: 75px;
    margin-right: 20px;
}

hr {
    margin: 10px 0px;
}

.miniatura-link {
    display: flex;
    align-items: center;
}

.link-miniatura {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Formulario */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 100px;
}

input[type="submit"]{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
}

footer {
    text-align: center;
    background-color: white;
    padding: 20px;
}

/* Páginas */
.main-article {
    margin: 20px auto;
}

.centro {
    width: 50%;
    margin: auto;
}

h3 {
    margin-top: 15px;
}

.logotipo {
    text-decoration: none;
    color: black;
}

/* MEDIA QUERIES */
@media (max-width: 760px){
    header {
        flex-direction: column;
    }
    .h2-titulo {
        margin-bottom: 20px;
    }
    .main-index {
        flex-direction: column;
    }
    .esquerda {
        margin: auto;
        width: 100%;
    }
    
    .direita {
        margin: auto;
        width: 100%;
    }
    .centro {
        width: 90%;
    }
}